@keyframes shake {
    0%   {left:0px;}
    20%   {left:10px;}
    40%   {left:-10px;}
    60%   {left:10px;}
    80%   {left:-10px;}
    100%  {left:0;}
}

@keyframes zoom {
    0%    {width: var(--width)}
    15%   {width: calc(var(--width) + 10px); left:-5px}
    30%   {width: var(--width); left: 0}
    45%   {width: calc(var(--width) + 10px); left:-5px}
    60%   {width: calc(var(--width) + 20px); left:-10px}
    100%  {width: var(--width); left: 0}
}

div#answer_input {
    background-color: var(--gris);
    border-radius: var(--border-radius);
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    width: 95%;
    height: 50px;
    min-height: 20px;
    margin-top: auto;

    position: relative;

    /* rendre le texte dans les boutons non sélectable : */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard */
}

#answer_input.correct_answer {
    background-color: rgb(131, 233, 131);
    animation-name: zoom;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

#answer_input.wrong_answer {
    background-color: rgb(255, 130, 130);
    animation-name: shake;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}