@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');


html {
    /* font-family:'Courier New', Courier, monospace; */
    font-family: "DM Mono", serif;

    --gris: rgb(220, 220, 220);
    --gris-fonce: rgb(200, 200, 200);
    --violet: purple;
    --violet-pale: rgb(255, 191, 255);

    --numpad-width: 250px;
    --numpad-height: 300px;
    --border-radius: 10px;
}

div#main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
}

div#header {
    height: 30px;
}

div#question {
    flex-grow: 1;
    font-size: 50px;
}

@keyframes from_left_growing {
    0%    {left: 0px; width: 0px}
    100%  {left: 0px; width: var(--numpad-width)}
}

div#correction_container {
    display: none;
    border: solid 1px black;
    /* border-radius: var(--border-radius); */
    width: var(--numpad-width);
    height: 20px;
}

div#correction_time_slider {
    background-color: var(--violet-pale);
    width: var(--numpad-width);
    height: 20px;
    position: relative;
    left: calc(var(--numpad-width));
    animation-name: from_left_growing;
    animation-duration: 1.51s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

div#correction_text {
    position: absolute;
    z-index: 1;
}
