html {
    --gris: rgb(220, 220, 220);
    --gris-fonce: rgb(200, 200, 200);
    --violet: purple;
    --violet-pale: rgb(255, 191, 255);

    --numpad-width: 250px;
    --numpad-height: 300px; 
}

div#main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
}

div#header {
    height: 30px;
}

div#question {
    flex-grow: 1;
    font-size: 50px;
}

div#numpad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: var(--numpad-width);
    height: var(--numpad-height);
}

@keyframes shake {
    0%   {left:0px;}
    20%   {left:10px;}
    40%   {left:-10px;}
    60%   {left:10px;}
    80%   {left:-10px;}
    100%  {left:0;}
}

@keyframes zoom2 {
    0%    {width: var(--numpad-width)}
    50%   {width: 270px}
    100%  {width: var(--numpad-width)}
}

@keyframes zoom {
    0%    {width: var(--numpad-width)}
    15%   {width: 260px}
    30%   {width: var(--numpad-width)}
    45%   {width: 260px}
    60%   {width: 270px}
    100%  {width: var(--numpad-width)}
}

div#answer_input {
    background-color: var(--gris);
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    width: var(--numpad-width);
    height: 50px;
    margin-top: auto;

    position: relative;
}

#answer_input.correct_answer {
    background-color: rgb(131, 233, 131);
    animation-name: zoom;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

#answer_input.wrong_answer {
    background-color: rgb(255, 130, 130);
    animation-name: shake;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

div.numpad-button {
    background-color: var(--gris);
    /* color: antiquewhite; */
    border-radius: 10px;
    /* box-shadow: 0px 3px rgba(136, 136, 136, 1); */
    text-align: center;
    vertical-align: middle;
}

#button_1 {
    grid-column: 1 / 2;
    grid-row: 1;
}

#button_2 {
    grid-column: 2 / 3;
    grid-row: 1;
}

#button_3 {
    grid-column: 3 / 4;
    grid-row: 1;
}

#button_4 {
    grid-column: 1 / 2;
    grid-row: 2;
}

#button_5 {
    grid-column: 2 / 3;
    grid-row: 2;
}

#button_6 {
    grid-column: 3 / 4;
    grid-row: 2;
}

#button_7 {
    grid-column: 1 / 2;
    grid-row: 3;
}

#button_8 {
    grid-column: 2 / 3;
    grid-row: 3;
}

#button_9 {
    grid-column: 3 / 4;
    grid-row: 3;
}

#button_0 {
    grid-column: 3;
    grid-row: 4;
}

#button_dot {
    grid-column: 2;
    grid-row: 4;
}

#button_sign {
    grid-column: 1;
    grid-row: 4;
}

#button_raz {
    grid-column: 4;
    grid-row: 1;
}

#button_del {
    grid-column: 4;
    grid-row: 2;
}

#button_ok {
    grid-column: 4;
    grid-row: 3 / 5;
    /* background-color: var(--gris-fonce); */
}

.numpad-button:hover {
    background-color: var(--gris-fonce);
}

.numpad-button:active {
    background-color: var(--violet-pale);
}