@keyframes from_left_growing {
    from  {width: 0px}
    to    {width: var(--numpad-width)}
}

div#correction_container {
    display: none;
    border: solid 1px black;
    /* border-radius: var(--border-radius); */
    width: var(--numpad-width);
    height: 20px;
}

div#correction_time_slider {
    background-color: var(--violet-pale);
    width: var(--numpad-width);
    height: 20px;
    position: relative;
    width: var(--numpad-width);
    animation-name: from_left_growing;
    animation-duration: 1.51s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

div#correction_text {
    position: absolute;
    z-index: 1;
}
